<a href="https://colab.research.google.com/github/SSanjey/ssanjey.github.io/blob/main/Q2)NBA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

NBA
The NBA is the highest paying professional sports league in the world," reported CNN in March 2016. The file nba_salaries.csv contains the salaries of all National Basketball Association players in 2015-2016

In [ ]:
'''Requirement-1 : Simple analysis'''
#1. Reading file as CSV

df = pd.read_csv("https://raw.githubusercontent.com/flaviovdf/evcomp2018/master/data/nba_salaries.csv")
df

              PLAYER POSITION                TEAM     SALARY
0       Paul Millsap       PF       Atlanta Hawks  18.671659
1         Al Horford        C       Atlanta Hawks  12.000000
2     Tiago Splitter        C       Atlanta Hawks   9.756250
3        Jeff Teague       PG       Atlanta Hawks   8.000000
4        Kyle Korver       SG       Atlanta Hawks   5.746479
..               ...      ...                 ...        ...
412        Gary Neal       PG  Washington Wizards   2.139000
413     DeJuan Blair        C  Washington Wizards   2.000000
414  Kelly Oubre Jr.       SF  Washington Wizards   1.920240
415   Garrett Temple       SG  Washington Wizards   1.100602
416     Jarell Eddie       SG  Washington Wizards   0.561716

[417 rows x 4 columns]

In [ ]:
#2.Size
df.size

1668

In [ ]:
#3. Sort on player

df.sort_values(by='PLAYER', ascending=True)

              PLAYER POSITION                    TEAM     SALARY
68      Aaron Brooks       PG           Chicago Bulls   2.250000
291     Aaron Gordon       PF           Orlando Magic   4.171680
59    Aaron Harrison       SG       Charlotte Hornets   0.525093
235    Adreian Payne       PF  Minnesota Timberwolves   1.938840
1         Al Horford        C           Atlanta Hawks  12.000000
..               ...      ...                     ...        ...
95   Wilson Chandler       SF          Denver Nuggets  10.449438
233      Zach LaVine       PG  Minnesota Timberwolves   2.148360
181    Zach Randolph       PF       Memphis Grizzlies   9.638555
86     Zaza Pachulia        C        Dallas Mavericks   5.200000
26      Zoran Dragic       SG          Boston Celtics   1.706225

[417 rows x 4 columns]

In [ ]:
#4. Sort on salary. Increasing and decreasing

df.sort_values(by='SALARY', ascending=True)

                     PLAYER POSITION                 TEAM     SALARY
267  Thanasis Antetokounmpo       SF      New York Knicks   0.030888
327          Cory Jefferson       PF         Phoenix Suns   0.049709
326            Jordan McRae       SG         Phoenix Suns   0.049709
324         Orlando Johnson       SG         Phoenix Suns   0.055722
325            Phil Pressey       PG         Phoenix Suns   0.055722
..                      ...      ...                  ...        ...
131           Dwight Howard        C      Houston Rockets  22.359364
255         Carmelo Anthony       SF      New York Knicks  22.875000
72             LeBron James       SF  Cleveland Cavaliers  22.970500
29              Joe Johnson       SF        Brooklyn Nets  24.894863
169             Kobe Bryant       SF   Los Angeles Lakers  25.000000

[417 rows x 4 columns]

In [ ]:
df.sort_values(by='SALARY', ascending=False)

                     PLAYER POSITION                 TEAM     SALARY
169             Kobe Bryant       SF   Los Angeles Lakers  25.000000
29              Joe Johnson       SF        Brooklyn Nets  24.894863
72             LeBron James       SF  Cleveland Cavaliers  22.970500
255         Carmelo Anthony       SF      New York Knicks  22.875000
131           Dwight Howard        C      Houston Rockets  22.359364
..                      ...      ...                  ...        ...
200         Elliot Williams       SG    Memphis Grizzlies   0.055722
324         Orlando Johnson       SG         Phoenix Suns   0.055722
327          Cory Jefferson       PF         Phoenix Suns   0.049709
326            Jordan McRae       SG         Phoenix Suns   0.049709
267  Thanasis Antetokounmpo       SF      New York Knicks   0.030888

[417 rows x 4 columns]

In [ ]:
#5. Relabel column salary to SALARY

df.rename(columns={'SALARY': 'SALARY'}, inplace=True)

In [ ]:
#6. Display 5 rows

df.head(5)

           PLAYER POSITION           TEAM     SALARY
0    Paul Millsap       PF  Atlanta Hawks  18.671659
1      Al Horford        C  Atlanta Hawks  12.000000
2  Tiago Splitter        C  Atlanta Hawks   9.756250
3     Jeff Teague       PG  Atlanta Hawks   8.000000
4     Kyle Korver       SG  Atlanta Hawks   5.746479

In [ ]:
#7. Select 3rd, 10th and 22nd rows.

df.iloc[[3, 10, 22]]

            PLAYER POSITION            TEAM   SALARY
3      Jeff Teague       PG   Atlanta Hawks  8.00000
10  Walter Tavares        C   Atlanta Hawks  1.00000
22    Kelly Olynyk        C  Boston Celtics  2.16516

In [ ]:
#8. Top 5 highest paid

df.sort_values(by='SALARY', ascending=False).head(5)

              PLAYER POSITION                 TEAM     SALARY
169      Kobe Bryant       SF   Los Angeles Lakers  25.000000
29       Joe Johnson       SF        Brooklyn Nets  24.894863
72      LeBron James       SF  Cleveland Cavaliers  22.970500
255  Carmelo Anthony       SF      New York Knicks  22.875000
131    Dwight Howard        C      Houston Rockets  22.359364

In [ ]:
# 9.List those earned more than 10m USD.

df[df['SALARY'] > 10]

             PLAYER POSITION                TEAM     SALARY
0      Paul Millsap       PF       Atlanta Hawks  18.671659
1        Al Horford        C       Atlanta Hawks  12.000000
29      Joe Johnson       SF       Brooklyn Nets  24.894863
30   Thaddeus Young       PF       Brooklyn Nets  11.235955
42     Al Jefferson        C   Charlotte Hornets  13.500000
..              ...      ...                 ...        ...
368   DeMar DeRozan       SG     Toronto Raptors  10.050000
383  Gordon Hayward       SF           Utah Jazz  15.409570
400       John Wall       PG  Washington Wizards  15.851950
401    Nene Hilario        C  Washington Wizards  13.000000
402   Marcin Gortat        C  Washington Wizards  11.217391

[69 rows x 4 columns]

In [ ]:
#10.Earnings of Stephen Curry

df[df['PLAYER'] == 'Stephen Curry']

            PLAYER POSITION                   TEAM     SALARY
121  Stephen Curry       PG  Golden State Warriors  11.370786

In [ ]:
#11. All Point Guards(PG) salary more than 15m USD.

df[(df['POSITION'] == 'PG') & (df['SALARY'] > 15)]

                PLAYER POSITION                   TEAM     SALARY
60        Derrick Rose       PG          Chicago Bulls  20.093064
74        Kyrie Irving       PG    Cleveland Cavaliers  16.407501
156         Chris Paul       PG   Los Angeles Clippers  21.468695
269  Russell Westbrook       PG  Oklahoma City Thunder  16.744218
400          John Wall       PG     Washington Wizards  15.851950

In [ ]:
#12. Team "Golden State Warriors"

df[df['TEAM'] == 'Golden State Warriors']

                PLAYER POSITION                   TEAM     SALARY
117      Klay Thompson       SG  Golden State Warriors  15.501000
118     Draymond Green       PF  Golden State Warriors  14.260870
119       Andrew Bogut        C  Golden State Warriors  13.800000
120     Andre Iguodala       SF  Golden State Warriors  11.710456
121      Stephen Curry       PG  Golden State Warriors  11.370786
122     Jason Thompson       PF  Golden State Warriors   7.008475
123   Shaun Livingston       PG  Golden State Warriors   5.543725
124    Harrison Barnes       SF  Golden State Warriors   3.873398
125  Marreese Speights        C  Golden State Warriors   3.815000
126    Leandro Barbosa       SG  Golden State Warriors   2.500000
127       Festus Ezeli        C  Golden State Warriors   2.008748
128       Brandon Rush       SF  Golden State Warriors   1.270964
129       Kevon Looney       SF  Golden State Warriors   1.131960
130   Anderson Varejao       PF  Golden State Warriors   0.289755

In [ ]:
''' Requirement-2 : Classifying by One Variable '''

"""13. How much money did each team pay for its players' salaries? (We have to group the
rows by TEAM  and then sum the salaries of the groups.)"""

df.groupby('TEAM').sum()['SALARY']

<ipython-input-17-04bfc0e19bbe>:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('TEAM').sum()['SALARY']

TEAM
Atlanta Hawks              69.573103
Boston Celtics             50.285499
Brooklyn Nets              57.306976
Charlotte Hornets          84.102397
Chicago Bulls              78.820890
Cleveland Cavaliers       102.312412
Dallas Mavericks           65.762559
Denver Nuggets             62.429404
Detroit Pistons            42.211760
Golden State Warriors      94.085137
Houston Rockets            85.285837
Indiana Pacers             62.695023
Los Angeles Clippers       66.074113
Los Angeles Lakers         68.607944
Memphis Grizzlies          93.796439
Miami Heat                 81.528667
Milwaukee Bucks            52.258355
Minnesota Timberwolves     65.847421
New Orleans Pelicans       80.514606
New York Knicks            69.404994
Oklahoma City Thunder      96.832165
Orlando Magic              77.623940
Philadelphia 76ers         42.481345
Phoenix Suns               50.520815
Portland Trail Blazers     45.446878
Sacramento Kings           68.384890
San Antonio Spurs          84.652074
Toronto Raptors            74.672620
Utah Jazz                  52.631878
Washington Wizards         90.047498
Name: SALARY, dtype: float64

In [ ]:
"""14. How many NBA players were there in each of the five positions? (Classify by
POSITION , and count use grouping)"""

df.groupby('POSITION').count()['PLAYER']

POSITION
C     69
PF    85
PG    85
SF    82
SG    96
Name: PLAYER, dtype: int64

In [ ]:
"""15. What was the average salary of the players at each of the five positions?(Group
by POSITION and take the mean of the salaries)."""

df.groupby('POSITION').mean()['SALARY']

<ipython-input-19-7b061dc9042c>:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('POSITION').mean()['SALARY']

POSITION
C     6.082913
PF    4.951344
PG    5.165487
SF    5.532675
SG    3.988195
Name: SALARY, dtype: float64